<link rel="stylesheet" href="../assets/main.css">

<label for="email">e-mail</label>
<input name="email" id="email" type="email" aria-required="true" required>

<label for="password">password</label>
<input name="password" id="password" type="password" aria-required="true" required>

<!-- Mark as optional, as opposed to adding an astreisk that isn't read aloud on required fields. -->
<label for="dob">Date of Birth (optional)</label>
<input name="dob" id="dob" type="date">

<input type="submit" value="Login">

<!-- Form validation should add aria-invalid="true" to the input in question, as well as aria-describedby for the ID of the error message.
	Add the "alert" role or consider aria-live="assertive" to the alert to interrupt current reading, and return focus to the field that generated the Alert. -->
<div id="emailAlert" class="form-alert" role="alert">
	<p>That email is not registered with us. Are you sure you typed it correctly?</p>
</div>
